<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tópicos Especiais - 2020/1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=ion-padding>

  <h2 class="ion-text-center">Uso de Listas</h2>
  <ion-list >

    <ion-list-header>Exemplos de Ícones</ion-list-header>

    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-text color="primary">
          <p> Calendário</p>
        </ion-text>

    </ion-item>

    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label> 
        <ion-text color="tertiary"><h2>Página Inicial</h2></ion-text>
        <p>Introdução ao conteúdo</p>
      </ion-label>
    </ion-item>

    <ion-item-divider>
        <ion-label>
          Exemplo de Formulário
        </ion-label>
    </ion-item-divider>

    <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input></ion-input>
    </ion-item>

  </ion-list>

</ion-content>
